In [86]:
word='destination'
length=len(word)
midl=int(len(word)/2)
midl_1=int(len(word)/2)
print(length)
if (length %2) !=0:
    print(word[midl])
else: print (word[midl_1])

11
n

In [227]:
x=int(input('Введите число:'))
sum = 0
while x !=0:
    sum += x
       x=int(input('Введите число:'))
print ('Сумма всех введенных чисел:',sum)

Введите число:5
Введите число:4
Введите число:0
Сумма всех введенных чисел: 9

##

In [239]:
boys = ['Peter', 'Alex', 'John', 'Arthur', 'Richard', 'Michael']
girls = ['Kate', 'Liza', 'Kira', 'Emma', 'Trisha']
boys_1=sorted (boys)
girls_1=sorted (girls)
print(boys_1[0]+' и '+girls_1[0])
print(boys_1[1]+' и '+girls_1[1])
print(boys_1[2]+' и '+girls_1[2])
print(boys_1[3]+' и '+girls_1[3])
print(boys_1[4]+' и '+girls_1[4])
print('у '+boys_1[4]+' нет пары')

Alex и Emma
Arthur и Kate
John и Kira
Michael и Liza
Peter и Trisha
у Peter нет пары

In [384]:
string_1=['Thailand',[75.2,77,78.8,73.4,68,75.2,77]]
string_2=['Germany',[57.2,55.4,59,59,53.6]]
string_3=['Russia',[35.6,37.4,39.2,41,42.8,39.2,35.6]]
string_4=['Poland',[50,50,53.6,57.2,55.4,55.4]]
#string_5=float(string_1)
#print(float(string_1[1]))
print(string_2[1])
print(string_3[1])
print(string_4[1])


#print(sum(temperature[1]))
#print(country,sum(temperature[1]))
#avg=(temperature[0]+temperature[1]+temperature[2]++temperature[3]+temperature[4]+temperature[5]+temperature[6])/len(temperature)
#print (country,' - ',avg)

[57.2, 55.4, 59, 59, 53.6]
[35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]
[50, 50, 53.6, 57.2, 55.4, 55.4]

In [242]:
2

2