In [191]:
word='destinatio'
length=len(word)
midl=int(len(word)/2)
if (length %2) !=0:
    print(word[midl])
else: print (word[midl],word[midl+1])

n a

In [435]:
x=int(input('Введите число:'))
summa = 0
while x !=0:
    summa +=x
    x=int(input('Введите число:'))
print ('Сумма всех введенных чисел:',summa)

Введите число:6
Введите число:5
Введите число:6
Введите число:0
Сумма всех введенных чисел: 17

######

In [25]:
boys = sorted(['Peter', 'Alex', 'John', 'Arthur', 'Richard'])
girls = sorted(['Kate', 'Liza', 'Kira', 'Emma', 'Trisha'])
if len(boys)==len(girls):
    pairs=list(zip(boys,girls))
    for y in pairs:
        print (y)
else: print('У кого-то может не хватить пары')

('Alex', 'Emma')
('Arthur', 'Kate')
('John', 'Kira')
('Peter', 'Liza')
('Richard', 'Trisha')

In [188]:
    import math
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
    for c_t in countries_temperature:
        avg=math.fsum(c_t[1])/len(c_t[1])
        print(c_t[0],avg)

Thailand 74.94285714285715
Germany 56.839999999999996
Russia 38.68571428571429
Poland 53.6

In [176]:
    import math
string_1=['Thailand',[75.2,77,78.8,73.4,68,75.2,77]]
string_2=['Germany',[57.2,55.4,59,59,53.6]]
string_3=['Russia',[35.6,37.4,39.2,41,42.8,39.2,35.6]]
string_4=['Poland',[50,50,53.6,57.2,55.4,55.4]]
    for c_t in string_1:
        print(string_1[0],math.fsum(string_1[1])/len(string_1[1]))
        break

Thailand 74.94285714285715

In [190]:
countries_temperature = [
['Thailand', [75.2, 77, 78.8, 73.4, 68, 75.2, 77]],
['Germany', [57.2, 55.4, 59, 59, 53.6]],
['Russia', [35.6, 37.4, 39.2, 41, 42.8, 39.2, 35.6]],
['Poland', [50, 50, 53.6, 57.2, 55.4, 55.4]]
]
for c_t in countries_temperature:
    avg=sum(c_t[1])/len(c_t[1])
    print(c_t[0],avg)

Thailand 74.94285714285714
Germany 56.839999999999996
Russia 38.68571428571429
Poland 53.599999999999994