In [35]:
#Задание_1
The Moscow Times - Wednesday, October 2, 2002
The Guardian - Friday, 11.10.13
Daily News - Thursday, 18 August 1977

SyntaxError: invalid syntax (<ipython-input-35-6b07f7d2d900>, line 2)

In [29]:
from datetime import datetime
a=datetime.strptime('Wednesday, October 2, 2002','%A, %B %d, %Y')
print(a.isoweekday(),a)

3 2002-10-02 00:00:00

In [30]:
b=datetime.strptime('Friday, 11.10.13','%A, %d.%m.%y')
print(b.isoweekday(),b)

5 2013-10-11 00:00:00

In [31]:
c=datetime.strptime('Thursday, 18 August 1977','%A, %d %B %Y')
print(c.isoweekday(),c)

4 1977-08-18 00:00:00

In [47]:
#Задание_2
from datetime import datetime
stream = ['2018-04-02', '2018-02-29', '2018-19-02']
def normal_date():
    for dates in stream:
        try:
            datetime.strptime(dates,'%Y-%m-%d')
            print(True,dates)
        except:
            print(False,dates)  
normal_date()

True 2018-04-02
False 2018-02-29
False 2018-19-02

In [3]:
#Задание_3
from datetime import datetime
from datetime import timedelta
def date_range():
    try:
        start_date=datetime.strptime(input('Введите дату начала:'),'%Y-%m-%d')
        end_date=datetime.strptime('2020-01-21','%Y-%m-%d')
        delta=end_date-start_date
        if start_date<end_date:
            for curr_date in range(delta.days-1):
                print(start_date+timedelta(days=curr_date+1))
        else:
            print([])
    except:
        print([])
date_range()

[]

In [7]:
date_range()

Введите дату начала:2020-01-13
2020-01-14 00:00:00
2020-01-15 00:00:00
2020-01-16 00:00:00
2020-01-17 00:00:00
2020-01-18 00:00:00
2020-01-19 00:00:00
2020-01-20 00:00:00